<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div>
  Your name: <input type="text" ng-model="yourname" placeholder="World"><br/>
  Hello {{yourname||'World'}}! <!--双向绑定-->
  <p>1 + 2 = {{1 + 2}}</p>
  <div ng-controller="PhoneListCtrl"><!--迭代-->
    <p>-----------------------------------------迭代---------------------------</p>
    <ul>
      <li ng-repeat="phone in phones">
        {{phone.name}}
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
    <p>Total number of phones: {{phones.length}}</p><!--输出phones的长度-->
    <p>Hello {{name}}!</p>
    <table>
      <tr><td>Row number</td></tr>
      <tr  ng-repeat="i in [0,1,2,3,4,5,6,7,8]"><td>{{i}}</td></tr>
    </table>
  </div>
  <div><!--组件-->
    <p>---------------------------------组件---------------------------------------</p>
    <applis></applis>
  </div>
  <div><!--filter-->
    <p>--------------------------------------filter--------------------------------</p>
    Search: <input type="text" ng-model="aa"><!--ng--model="任意"-->
    <ul ng-controller="PhoneListCtrl">
      <li ng-repeat="phone in phones|filter:aa"><!--filter:ng-model-->
        {{phone.name}}
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <p>------------------------------------------select------------------------</p>
    Search: <input type="text" ng-model="search"><!--ng--model="任意"-->
    Sort by :
    <select ng-model="select">
      <option value="name">name</option>
      <option value="date">date</option>
    </select>
    <ul ng-controller="PhoneListCtrl">
      <li ng-repeat="phone in phones|filter:search|orderBy:select">
        {{phone.name}}
        <p>{{phone.snippet}}</p>
        <p>{{phone.date}}</p>
      </li>
    </ul>
  </div>
  <div>
    <p>-----------------------------------------img-----------------------------</p>
    <ul ng-controller="img">
      <li ng-repeat="img in imgs">
        ID: {{img.id}}<br>
        img: <a href="#/imgs/{{img.id}}"><img ng-src="{{img.imageUrl}}" alt=""></a>
      </li>
    </ul>
  </div>
</div>

