<h1>
  {{title}}
</h1>
<button class="btn-success btn">测试bootstrap</button>
<app-test></app-test><br>
<app-migrate></app-migrate><!--用于嵌套选择器-->
<br><br><br><br>
DirectivesDirective:
<p appDirectives>hello, lewis</p><!--注入directive-->
myHighlight:
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">yellow
  <input type="radio" name="colors" (click)="color='cyan'">cyan
</div>
<p [appHightlight]="color">Highlight me!</p>
<p [appHightlight]="color" [defaultColor]="'violet'">Highlight me too!</p>
<br>
<p>组件生命周期</p>
<button (click)="condition = !condition"
  [style.background] = "condition ? 'orangered': 'lightgreen'"
>
  Set 'condition' to {{condition ? 'False': 'True'}}
</button>
<app-lifecycle *appUnless="condition" name="lewis"></app-lifecycle>
<br>
<p>pipe</p>
<p>{{2| exponential: 4 }}</p>
<p>Heroes from Json File</p>
<div *ngFor="let hero of ('../assets/heroes.json' |fetch) ">
  <p>{{hero.name}}</p>
</div>
<p>Heroes are JSON:</p>
<p>{{'../assets/heroes.json'| fetch| json}}</p>
